.carousel-inner{
    border-radius: 10px;
}

.sidebar {
background-color: #f8f9fa;
padding: 20px;
border-left: 1px solid #ddd;
}

.sidebar img {
width: 100%;
border-radius: 50%;
max-width: 150px;
margin-bottom: 10px;
}

.btn-contact {
background-color: #094bac !important;
color: white !important;
font-weight: bold !important;
margin-bottom: 15px !important; 
}