@import url("nav.css");
@import url("casas.css");
@import url("contactenos.css");
@import url("nosotros.css");
@import url("registro.css");

:root {
    --gray: #505050;
    --spacing-sm: 15px;
    --spacing-md: 25px;
    --spacing-lg: 40px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #f5f7fa, #e4e7eb);
    padding: var(--spacing-sm);
}

.containerNav {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: left;
    margin-bottom: var(--spacing-md);
    padding: var(--spacing-md);
    color: var(--gray);
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo{
    height: 80px;
    width: 80px;
    margin-left: 30px;
    cursor: pointer;
}

.facebook{
    height: 30px;
    width: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.intagram{
    height: 30px;
    width: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.tiktok{
    height: 30px;
    width: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.grid-system {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
}

.grid-item {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.grid-item a{
    background-color: #094bac;
    border: none;
}

.grid-item a:hover,
.grid-item a:focus,
.grid-item a:active{
    background-color: #2d72da;
    border: none;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.grid-item h3 {
    color: var(--color-primary);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f2f5;
}

footer {
    text-align: center;
    padding: var(--spacing-md);
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Mediaqueri para establecer los parametros responsivos de la página*/

@media (min-width: 576px) {
    .grid-system {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-sm);
    }

    header {
        padding: var(--spacing-md);
    }
}


@media (min-width: 768px) {
    body {
        padding: var(--spacing-md);
    }

    .grid-system {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-md);
    }

    header {
        margin-bottom: var(--spacing-lg);
    }
}

@media (min-width: 992px) {
    .grid-system {
        grid-template-columns: repeat(3, 1fr); /* columnas*/ 
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }

    .grid-system {
        gap: var(--spacing-lg);
    }
}
