.contenedorNosotros .grid-item {
    transition: none;
}

.contenedorNosotros .grid-item:hover {
    transform: none;
    box-shadow: none;
    cursor: default;
}

.contenedorNosotros h3{
    color: #094bac !important;
}