{% extends 'base.html' %}

{% block content %}

    <h1>Contáctenos</h1>
    <p>Consulte por nuestros productos o servicios y con gusto le asesoramos para el desarrollo de sus proyectos.</p>
    <br />

    <div class="contenedorContactos">
      <div class="grid-system">
        <div class="grid-item">
          <div class="card shadow">
            <div class="card-body">
              <h3>💳 Tarjeta Débito</h3>
              <p>Si desea reportar algún inconveniente con su tarjeta, solicitar ayuda en su uso o bloquearla por robo o
                pérdida, comuníquese al:</p>
              <p class="phone">📞 2437-1000</p>
              <p class="available">⏰ Disponible 24/7</p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card shadow" style="height: 100%;">
            <div class="card-body">
              <h3>💳 Tarjeta de Crédito</h3>
              <p>Si desea reportar el robo o extravío de su tarjeta, realizar consultas y gestiones, contáctenos al:</p>
              <p class="phone">📞 2437-1000</p>
              <p class="available">⏰ Disponible 24/7</p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card shadow" style="height: 100%;">
            <div class="card-body">
              <h3>❓ Soporte Canales Digitales</h3>
              <p>Si requiere soporte con el uso o acceso a los canales digitales, contáctenos al:</p>
              <p class="phone">📞 2437-1000</p>
              <p class="available">⏰ Disponible 24/7</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

{% endblock %}

