{% extends 'base.html' %}

{% block content %}

    <h1>Catálogo de propiedades</h1>
    <p>Acá podrá ver todas las propiedades que Cenfotec trae especialmente para usted.</p>
    <br>

    <div class="grid-system">

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaA1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 62,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Casa en la provincia de Puntarenas distrito San Vito, área de 356 m2
                    </p>
                    <p class="mb-2 text-muted">356 m²</p>
                    <a href="/Casa1" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaB1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 86,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Lote en la provincia de Limón, Puerto viejo. área de 551 m2
                    </p>
                    <p class="mb-2 text-muted">551 m²</p>
                    <a href="/Casa2" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaC1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 56,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Casa en la provincia de Heredia, Belén, área de 155 m2
                    </p>
                    <p class="mb-2 text-muted">155 m²</p>
                    <a href="/Casa3" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaD1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 120,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Casa en la provincia de San José, Escazú, área de 655 m2
                    </p>
                    <p class="mb-2 text-muted">655 m²</p>
                    <a href="/Casa4" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaE1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 40,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Casa en la provincia de San José, Lindora, área de 200 m2
                    </p>
                    <p class="mb-2 text-muted">200 m²</p>
                    <a href="/Casa5" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaF1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 88,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Casa en la provincia de Guanacaste, Liberia, área de 260 m2
                    </p>
                    <p class="mb-2 text-muted">260 m²</p>
                    <a href="/Casa6" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>
    </div>

    <br>

{% endblock %}