{% extends 'base.html' %}

{% block content %}

    <h1>Catálogo de propiedades</h1>
    <p>Acá podrá ver todas las propiedades que Cenfotec trae especialmente para usted.</p>
    <br>

    <div class="grid-system">

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaA1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 2,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Lote en la provincia de Puntarenas distrito San Vito área de 356 m2
                    </p>
                    <p class="mb-2 text-muted">356.55 m²</p>
                    <a href="/Casa1" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaB1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 2,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Lote en la provincia de Puntarenas distrito San Vito área de 356 m2
                    </p>
                    <p class="mb-2 text-muted">356.55 m²</p>
                    <a href="/Casa2" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaC1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 2,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Lote en la provincia de Puntarenas distrito San Vito área de 356 m2
                    </p>
                    <p class="mb-2 text-muted">356.55 m²</p>
                    <a href="/Casa3" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaD1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 2,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Lote en la provincia de Puntarenas distrito San Vito área de 356 m2
                    </p>
                    <p class="mb-2 text-muted">356.55 m²</p>
                    <a href="/Casa4" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaE1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 2,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Lote en la provincia de Puntarenas distrito San Vito área de 356 m2
                    </p>
                    <p class="mb-2 text-muted">356.55 m²</p>
                    <a href="/Casa5" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card shadow">
                <img src="static/images/casaF1.jpg" class="card-img-top" alt="Lote en Puntarenas">
                <div class="card-body">
                    <h5 class="card-title text-success">₡ 2,000,000.00</h5>
                    <p class="card-text fw-bold mb-1">
                        Lote en la provincia de Puntarenas distrito San Vito área de 356 m2
                    </p>
                    <p class="mb-2 text-muted">356.55 m²</p>
                    <a href="/Casa6" class="btn btn-warning text-white">Conocer más</a>
                </div>
            </div>
        </div>
    </div>

    <br>

{% endblock %}