
{% extends 'base.html' %}

{% block content %}

    <h1>Formulario de Registro</h1>
    <p>Complete los datos solicitados para continuar con el proceso de registro.</p>
    <br />

    <div class="contenedorRegistro">
      <div class="grid-item">
        <div class="card shadow">
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" required />
              </div>

              <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" required />
              </div>

              <div class="mb-3">
                <label for="cedula" class="form-label">Cédula</label>
                <input type="text" class="form-control" id="cedula" required />
              </div>

              <div class="mb-3">
                <label for="correo" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="correo" required />
              </div>

              <div class="mb-3">
                <label for="estadoCivil" class="form-label">Estado Civil</label>
                <select class="form-select" id="estadoCivil" required>
                  <option value="" selected disabled>Seleccione una opción</option>
                  <option>Soltero/a</option>
                  <option>Casado/a</option>
                  <option>Divorciado/a</option>
                  <option>Viudo/a</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fechaNacimiento" required />
              </div>

              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <br><br>

{% endblock %}